* text=auto eol=lf
*.sh text eol=lf
*.slurm text eol=lf
*.py text eol=lf
*.ipynb text eol=lf
*.fasta text eol=lf
*.fa text eol=lf
*.faa text eol=lf
*.fastq text eol=lf
*.gff3 text eol=lf
*.tsv text eol=lf
